h5 {
  margin-bottom: 0px;
}

body {
  background: rgb(33, 33, 33);
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: monospace;
}

.react-console-emulator {
  background: none !important;
}

.react-console-emulator__content {
  padding: 0px !important;
  // padding-left: 10px;
}

.col-md-12 { padding-left: 0px; }

.body {
  z-index: 3;
  display: block;
  position: relative;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(/static/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling{
  background: transparent url(/static/images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

.clouds{
  background: transparent url(/static/images/clouds.png) repeat top center;
  z-index: 2;
  opacity: .4;
  animation: move-clouds-back 200s linear infinite;
}